.header {
	display: flex;
	justify-content: flex-end;
	background-color: #1e1e20;
}

.box:nth-child(1) {
	margin-right: 20px;
}


.box:nth-child(1) img {
	margin-right: 0.1rem;
	border-radius: 50%;
}
